@font-face {
    font-family: myfont;
    src: url("Assests/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
    color: #000000;
  }
  
  html,
  body {
    height: 100%;
  
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }
  #nav {
    overflow: hidden;
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 580px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
  }
  #nav a {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1vw;
    color: white;
  }
  body {
    width: 500px;
    margin: 10px auto;
    padding: 50px;
  }

.link{
    color: #111;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    transition: .3s color;
}

.link:hover{
    color: #C8815f;
}

.nav__icons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav__icons i{
    color: #111;
    font-size: 24px;
    transition: .3s color;
    cursor: pointer;
}

.nav__icons i:hover{
    color: #C8815f;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 400px;
  padding: 140px ;
  font: 300 60px myfont;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;

}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;
  padding: 10px;
  position: relative;
  max-width: 840px;
  margin: 0 400px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 700px;
  font-family: myfont;
  font-weight: 400;
  margin: 0 170px;
}

.form-control, 
textarea {
  max-width: 700px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 10px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  left: 50%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
  margin: 0 400px;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px myfont;
  letter-spacing: 2px;
  margin: 0 400px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

